<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'jsonapp:json_page' %}">На главную</a>
<a href="{% url 'jsonapp:db_page' %}">Список текущих пользователей</a>
<div>
    <h2>Post: {{ json_post.title }}</h2>
    <h3>Post: {{ json_post.body }}</h3>
</div>
<div>
<h3>Comments:</h3>
{% for j_comment in json_comments %}
<div style="border: solid">
    <h4>Name: {{ j_comment.name }}</h4>
    <h4>Email: {{ j_comment.email }}</h4>
    {% for j_user in json_users %}
        {% if j_comment.id_users_id == j_user.id %}
        <h4> Email2: {{ j_user.email }}</h4>
        {% endif %}
    {% endfor %}
    <h5>Body: {{ j_comment.body }}</h5>
</div>
</div>
{% endfor %}
</body>
</html>