<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'jsonapp:json_page' %}">На главную</a>
<a href="{% url 'jsonapp:db_page' %}">Список текущих пользователей</a>
<div>
    <h4>Name: {{ json_user.name }}</h4>
    <h4>Username: {{ json_user.username }}</h4>
    <h4>Phone: {{ json_user.phone }}</h4>
    <h4>City: {{ json_user.address_city }}</h4>
</div>
<div style="display: flex; width: 50%">
<h2>Albums:</h2>
{% for j_album in json_albums %}
<div>
    <h4><a href="{{j_album.get_absolute_url}}">Name: {{ j_album.title }}</a></h4>
</div>
{% endfor %}
</div>

<div style="display: flex; width: 50%">
<h2>Posts:</h2>
{% for j_post in json_posts %}
<div>
    <h4><a href="{{j_post.get_absolute_url}}">Name: {{ j_post.title }}</a></h4>
</div>
{% endfor %}
</div>
</body>
</html>