<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'jsonapp:db_page' %}">Список текущих пользователей</a>

<form action="{% url 'jsonapp:parse_user' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Получить юзеров" />
</form>

<form action="{% url 'jsonapp:parse_album' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Получить альбомы" />
</form>

<form action="{% url 'jsonapp:parse_photo' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Получить фото альбомов" />
</form>

<form action="{% url 'jsonapp:parse_post' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Получить посты" />
</form>

<form action="{% url 'jsonapp:parse_comment' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Получить комментарии к постам" />
</form>

</body>
</html>