<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'jsonapp:json_page' %}">На главную</a>
<a href="{% url 'jsonapp:db_page' %}">Список текущих пользователей</a>
<div>
    <h4>Album title: {{ json_album.title }}</h4>
</div>
<div>
<h2>Photos:</h2>
{% for j_photo in json_photos %}
<div>
    <h4>Title of photo: {{ j_photo.title }}</h4>
    <img src="{{ j_photo.thumbnail_url }}" alt="Не загрузилось">
</div>
{% endfor %}
</div>
</body>
</html>